<html layout:decorator="admin_layout/admin_panel" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="admin_page_content">
    <div class="container" style="min-height: 700px;">
        <h3 th:text="#{label.category}">  </h3>
        <div th:insert="~{admin_layout/admin_add_category}">

        </div>

        <section>
            <div class="row">
                <div class="col-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" style="width:10%;">ID</th>
                            <th scope="col"><span th:text="#{label.category_name}"></span></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="cat : ${categories}">
                            <th scope="row" th:text="${cat.getId()}"></th>
                            <th scope="row" th:text="${cat.getName()}"></th>
                            <th scope="row" > <a class="btn btn-sm btn-danger" th:href="@{'/delete_category/' + ${cat.getId()}}">
                                <i class="far fa-trash-alt"></i> <span th:text="#{admin.label_delete}"></span>
                            </a> </th>

                            <th scope="row" ><button class="btn btn-success btn-sm" th:data-target="${'#CategoryEditModal' + cat.getId()}" data-toggle="modal">
                                <i class="fas fa-pencil-alt"></i> <span th:text="#{admin.label_update}"></span>
                            </button></th>

                            <div aria-hidden="true" class="modal fade" th:id="${'CategoryEditModal' + cat.getId()}" role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-lg" role="document">
                                    <form method="post" th:action="@{'/edit_category'}">
                                        <input hidden name="categoryId" th:value="${cat.getId()}">

                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"> <span th:text="#{admin.edit_label}"></span></h5>
                                            </div>

                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="categoryName"><span th:text="#{label.category_name}"></span></label>
                                                    <input class="form-control" id="categoryName" name="categoryName" type="text" th:value="${cat.name}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="categoryLogoURL"><span th:text="#{admin.label_category_logo_url}"></span></label>
                                                    <input class="form-control" id="categoryLogoURL" name="categoryLogoURL" type="text" th:value="${cat.logoURL}">
                                                </div>

                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">
                                                        <span th:text="#{admin.button_cancel}"></span>
                                                    </button>
                                                    <button class="btn btn-dark" type="submit">
                                                        <i class="fas fa-file-upload"></i> <span th:text="#{admin.button_submit}"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </div>
</div>

</div>
</html>