<button class="btn btn-success mb-4" data-target="#addBrandModal" data-toggle="modal"><span th:text="'++' + #{label.brand}"></span></button>

<div aria-hidden="true" class="modal fade" id="addBrandModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" th:action="@{'/addBrand'}">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> <span th:text="#{label.brand}"></span></h5>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="brandName"><span th:text="#{label.brand_name}"></span></label>
                        <input class="form-control" id="brandName" name="brandName" type="text">
                    </div>

                    <div class="form-group">
                        <label for="countryId"><span th:text="#{label.country}"></span></label>
                        <select class="form-control" id="countryId" name="countryId">
                            <option th:each="cnt : ${countries}" th:text="${cnt.name}"
                                    th:value="${cnt.id}"></option>
                        </select>
                    </div>


                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">
                            <span th:text="#{admin.button_cancel}"></span>
                        </button>
                        <button class="btn btn-dark" type="submit">
                            <i class="fas fa-file-upload"></i> <span th:text="#{admin.button_submit}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>